table, th, td {

    /*border: 2px solid black;*/
    border-collapse: collapse;
    margin: auto;
}

th, td {
    padding: 5px;
    width: 20%;

}

table {
    width: 100%;
    background-color: white;

}

tr {
    height: 50px;

}

.myForm {
    margin: auto;
    text-align: center;

}

.myButtons {
    padding: 5px;
    margin-top: 10px;
}

input {
    width: 30%;
    height: 30px;

}

.styling {
    margin-top: 10px;

}

.dropdown {
    float: left;
    padding-right: 80px;
    margin-top: 20px;
    width: 25%;
}

.capitalize {
    text-transform: capitalize;
}
